<h1 class="center">Parts For <br>
  Robot: <%= @robot.name %> </h1>
<hr>
<div class='row'>
  <% if @parts.any? %>
    <ul class="collapsible col s12 m6 offset-m3" data-collapsible="accordion">
      <% @parts.each do |part| %>
        <li>
          <div class="collapsible-header"><%= part.name %></div>
          <div class="collapsible-body">
            <p>Part: <%= part.number %></p>
            <p><%= link_to "Edit", edit_robot_part_path(@robot, part), class: 'btn green' %>
            <%= link_to "Delete", robot_part_path(@robot, part),
              method: :delete, data: {confirm: 'Really Delete?'}, class: 'btn red' %> </p>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <h4>No Parts, Please Create One</h4>
  <% end %>
  <div class='center col s12'>
    <%= link_to "New Part", new_robot_part_path(@robot), class: 'btn' %>
  </div>
  <br>
  <br>
  <div class='center col s12'>
    <%= link_to "Back to Robot", inventor_robot_path(@inventor, @robot), class: 'btn' %>
  </div>
</div>
